pipeline/Task 2 and 3-Customer_Data_Pipeline.json
{
	"name": "Task 2 and 3-Customer_Data_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Check_Customer_Count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_Customer_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get_Customer_Count').output.firstRow.record_count, pipeline().parameters.customerCountThreshold)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_Customer_Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "CustomerDataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CountryJSONOutput",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "customer_data.json"
									}
								}
							]
						},
						{
							"name": "Call_Product_Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy_Customer_Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Task 4 - Product_Data_Child_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"customerCount": "@variables('customerRecordCount')"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get_Customer_Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(*) as record_count FROM dbo.Customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CustomerDataset",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"customerCountThreshold": {
				"type": "int",
				"defaultValue": 500
			}
		},
		"variables": {
			"customerRecordCount": {
				"type": "Integer",
				"defaultValue": 650
			}
		},
		"annotations": []
	}
}